<launch>
    <arg name="now" default="" />
    <arg name="rosbag_dir" default="/home/jetson/data" />
    <arg name="camera_out_topic" value="/arion/image_compressed" />

  <!-- Launch camera -->
    <include file="$(find arion)/launch/camera.launch" >
        <arg name="camera_out_topic" value="$(arg camera_out_topic)"/>
        <arg name="camera_rate" value="60"/>
        <arg name="camera_witdh" value="320"/>
        <arg name="camera_height" value="180"/>
    </include>

  <!-- Record camera -->
    <node pkg="rosbag" type="record" name="rc_recorder" output="screen" args="-O $(arg rosbag_dir)/camera-$(arg now).bag $(arg camera_out_topic)" />

</launch>