<launch>
    <arg name="now" value="`date +'%Y-%m-%d-%H-%M-%S'`" />
    <arg name="rosbag_dir" default="/home/jetson/data"/>
     <arg name="camera_out_topic" value="/arion/image_compressed"/>
    <arg name="fcu_url" default="/dev/ttyTHS1:921600"/>
    <arg name="gcs_url" default="udp://@192.168.1.48" />   <!-- GCS link is provided by SITL -->

  <!-- Launch MavROS -->
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="$(arg fcu_url)" />
        <arg name="gcs_url" value="$(arg gcs_url)" />
    </include>

  <!-- Record mavros rc in -->
    <node pkg="rosbag" type="record" name="camera_recorder" output="screen" args="-O $(arg rosbag_dir)/rc-$(arg now).bag /mavros/rc/in" />

  <!-- Launch camera -->
    <include file="$(find arion)/launch/camera.launch" >
        <arg name="camera_out_topic" value="$(arg camera_out_topic)"/>
        <arg name="camera_rate" value="60"/>
        <arg name="camera_witdh" value="1280"/>
        <arg name="camera_height" value="720"/>
    </include>

  <!-- Record camera -->
    <node pkg="rosbag" type="record" name="rc_recorder" output="screen" args="-O $(arg rosbag_dir)/camera-$(arg now).bag $(arg camera_out_topic)" />



</launch>